.form {
  margin: 20px 0 0 0;

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    margin: 0 0 16px 0;

    width: 235px;
    height: 43px;
  }

  &__label {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $label-color;
  }

  &__input {
    box-sizing: border-box;
    padding: 5px 0;

    width: 230px;
    height: 29px;

    font-size: 14px;
    line-height: 16px;

    border: none;
    border-bottom: 1px solid $lightviolet-color;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 16px;
    }

    &:focus,
    &:active {
      & + .form__bar:before,
      & + .form__bar:after {
        width: 50%;
        background: $violet-color;
      }
    }
  }

  &__bar {
    position: relative;
    display: block;
    width: 230px;
  
    &:before, 
    &:after {
      position: absolute;
      content: '';

      height: 2px;
      width: 0%;

      bottom: 0;
      
      background: $violet-color;
      transition: .15s ease all;
    }
      
    &:before {
      left: 50%;
    }
      
    &:after {
      right: 50%;
    }
  }

  &__birth-control-wrp {
    display: flex;
    justify-content: space-between;

    width: 230px;
  }

  &__day {
    width: auto;
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 56px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .activetrigger {
      width: 56px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .dropcontainer {
      width: 56px;
    }
  }

  &__month {
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 91px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .activetrigger {
      width: 91px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .dropcontainer {
      width: 91px;
    }
  }

  &__year {
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 67px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .activetrigger {
      width: 67px;

      & ~ .form__bar {
        width: auto;
      }
    }

    & .dropcontainer {
      width: 67px;
    }
  }
      

  &__gender {
    &-elements {
      display: flex;
      justify-content: space-between;

      width: 140px;
    }

    &-elements {
      margin: 5px 0 0 0;
    }

    &-radio {
      
      &:focus + .form__gender-label::before,
      &:focus + .form__gender-label::after {
        transform: scale(1.3);
      }

      &:checked + .form__gender-label {

        &::after {
          position: absolute;
          content: '';

          box-sizing: border-box;

          width: 6px;
          height: 6px;

          top: 5px;
          left: 3px;

          border-radius: 50%;
          background: $violet-color;
          transition: all 0.2s ease;
        }
      }
    }

    &-label {
      position: relative;
      padding: 0 0 0 18px;

      font-size: 14px;
      line-height: 16px;
      

      &::before {
        position: absolute;
        content: '';

        box-sizing: border-box;

        width: 12px;
        height: 12px;

        top: 2px;
        left: 0;

        border-radius: 50%;
        border: .7px solid $violet-color;
        transition: all 0.2s ease;
      }
    }
  }

  &__submit {
    position: absolute;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;

    width: 154px;
    height: 32px;

    bottom: 32px;
    right: 23px;

    font-size: 14px;
    line-height: 18px;

    color: $white-color;

    background: $violet-color;
    border: none;
  }
}

.error {
  animation: shake .4s;
}

@keyframes shake {
  15% {
    transform: translateX(9px);
  }
  30% {
    transform: translateX(-9px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  65% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid + .form__bar,
.invalid-email +.form__bar {
  &::after,
  &::before {
    background: $red-color;
    width: 50%;
  }
}