.form {
  margin: 20px 0 0 0;

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    flex-direction: column;

    margin: 0 0 16px 0;

    width: 235px;
    height: 43px;
  }

  &__label {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: $label-color
  }

  &__input {
    padding: 5px 0;

    width: 230px;

    border: none;
    border-bottom: 1px solid $lightviolet-color;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__birth-control-wrp {
    display: flex;
    justify-content: space-between;

    width: 230px;
  }

  &__day {
    width: auto;
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 56px;
    }

    & .activetrigger {
      width: 56px;
    }

    & .dropcontainer {
      width: 56px;
    }
  }

  &__month {
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 91px;
    }

    & .activetrigger {
      width: 91px;
    }

    & .dropcontainer {
      width: 91px;
    }
  }

  &__year {
    & .trigger {
      padding: 5px 20px 5px 0;
      width: 67px;
    }

    & .activetrigger {
      width: 67px;
    }

    & .dropcontainer {
      width: 67px;
    }
  }

  &__gender {
    &-elements {
      display: flex;
      justify-content: space-between;

      width: 140px;
    }

    &-elements {
      margin: 5px 0 0 0;
    }

    &-radio {
      display: none;

      &:checked + .form__gender-label {

        &::after {
          position: absolute;
          content: '';

          box-sizing: border-box;

          width: 6px;
          height: 6px;

          top: 7px;
          left: 3px;

          border-radius: 50%;
          background: $violet-color;
        }
      }
    }

    &-label {
      position: relative;
      padding: 0 0 0 18px;

      &::before {
        position: absolute;
        content: '';

        box-sizing: border-box;

        width: 12px;
        height: 12px;

        top: 4px;
        left: 0;

        border-radius: 50%;
        border: .7px solid $violet-color;
      }
    }
  }

  &__submit {
    position: absolute;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;

    width: 154px;
    height: 32px;

    bottom: 32px;
    right: 23px;

    font-size: 14px;
    line-height: 18px;

    color: $white-color;

    background: $violet-color;
    border: none;
  }
}